In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randint
diem = [10, 9, 3, 5]
sinhvien = ["Mai", "Cúc", "Thọ", "Hồng"]

In [4]:
data = {'diem': diem, 'sinhvien': sinhvien}

In [7]:
data

{'diem': [10, 9, 3, 5], 'sinhvien': ['Mai', 'Cúc', 'Thọ', 'Hồng']}

In [9]:
# Chuyển dics sang data
df2 = DataFrame(data)
df2

   diem sinhvien
0    10      Mai
1     9      Cúc
2     3      Thọ
3     5     Hồng

In [21]:
# Cắt dựa vào khoảng trắng
# Chuyển list sang array, list này đã random rồi, trong list có 25 phần tử, random từ 1 đến 100.
# Sau khi random xong thì tiến hành chuyển list sang array
ind = "A B C D E F".split()
cols = "col1 col2 col3 col4 col5 col6".split()
x = []
for i in range(36): 
    x.append(np.random.randint(1,100))
x = np.array(x)
x = x.reshape(6, 6)
x

array([[18, 61, 13, 68, 16, 94],
       [41, 20, 11, 52, 10, 82],
       [12, 61, 41, 99, 12, 28],
       [ 3, 75, 19, 38, 64, 80],
       [71, 91, 72, 81, 97, 65],
       [25, 52, 83, 76, 44, 95]])

In [25]:
# Chuyển sang data:
df3 = DataFrame(x, index = ind, columns = cols)
df3

   col1  col2  col3  col4  col5  col6
A    18    61    13    68    16    94
B    41    20    11    52    10    82
C    12    61    41    99    12    28
D     3    75    19    38    64    80
E    71    91    72    81    97    65
F    25    52    83    76    44    95

In [28]:
# Reindex vào hàng
new_ind = "A B C D E F G H K".split()
df4 = df3.reindex(new_ind, fill_value=0)
df4

   col1  col2  col3  col4  col5  col6
A    18    61    13    68    16    94
B    41    20    11    52    10    82
C    12    61    41    99    12    28
D     3    75    19    38    64    80
E    71    91    72    81    97    65
F    25    52    83    76    44    95
G     0     0     0     0     0     0
H     0     0     0     0     0     0
K     0     0     0     0     0     0

In [33]:
# Reindex vào hàng
ind = "A B C D E F".split()
new_cols = "col1 col2 col3 col4 col5 col6 col7".split()
dfd = df4.reindex(columns = new_cols, fill_value = 0)
dfd

   col1  col2  col3  col4  col5  col6  col7
A    18    61    13    68    16    94     0
B    41    20    11    52    10    82     0
C    12    61    41    99    12    28     0
D     3    75    19    38    64    80     0
E    71    91    72    81    97    65     0
F    25    52    83    76    44    95     0
G     0     0     0     0     0     0     0
H     0     0     0     0     0     0     0
K     0     0     0     0     0     0     0