In [8]:
t = (1,2,3)
print(t, type(t), id(t) )

(1, 2, 3) <class 'tuple'> 2442469447360

In [9]:
t [1]
t[2]

3

In [15]:
# Cộng dồn Tuples
# t = (1, 2, 3)
t1 = t + t + t + t
print(t1)
t2 = t + t + t
print(t2)
t3 = t * 4
print(t3)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
# Trích xuất từ vị trí from đến to trong Tuples
t1[1:5]
t2[1:-1]
t1[:]
t2[:3]
t1[3:]

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [32]:
# Có thể gộp Tuples con và list con
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t = (t1,t2)
print(t)
t3 = (1, 2, 3, t1)
print(t3)
t3[3]

((1, 2, 3), (4, 5, 6))
(1, 2, 3, (1, 2, 3))

(1, 2, 3)

In [35]:
t1 = ("Trần", "Thị")
l1 = ["Thu", "Hà"]
t = (t1, l1)
t

(('Trần', 'Thị'), ['Thu', 'Hà'])

In [40]:
# Tuple không thể thay đổi phần tử
l = [1, 2, 3, 4, 5, 6, 7]
t1 = (8, 9 , 10)
t2 = (0, t1, l)
print(t2)
t2[2][2] = 18
t2

(0, (8, 9, 10), [1, 2, 3, 4, 5, 6, 7])

(0, (8, 9, 10), [1, 2, 18, 4, 5, 6, 7])