In [19]:
import sqlite3 
db = sqlite3.connect("sholl.sql") # Tạo database
# Kiểm tra nếu mà bảng tồn tại rồi thì không tạo -> xóa tất cả các bảng giống tên
db.execute("DROP TABLE IF EXISTS student")
# Tạo
db.execute("CREATE TABLE student (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,name VARCHAR NOT NULL)")

OperationalError: database is locked

In [17]:
# Thêm dữ liệu
db.execute("INSERT INTO student(name) VALUES ('Đặng Thị Ngọc Lan')")
db.execute("INSERT INTO student(name) VALUES ('Cao Bá Quát')")
db.execute("INSERT INTO student(name) VALUES ('Nguyễn Du')")
db.execute("INSERT INTO student(name) VALUES ('Lê Quý Đôn')")
db.execute("INSERT INTO student(name) VALUES ('Pleiku')")
db.commit()

OperationalError: database is locked

In [ ]:
results = db.execute("SELECT * FROM student")
type(results)
# sqlite3.Cursor là một list

sqlite3.Cursor

In [ ]:
for row in results :
    print(row)

(1, 'Đặng Thị Ngọc Lan')
(2, 'Cao Bá Quát')
(3, 'Nguyễn Du')
(4, 'Lê Quý Đôn')
(5, 'Pleiku')

In [ ]:
print("-" * 20)

--------------------

In [ ]:
# Gọi thẳng giá trị đối tượng
results = db.execute("SELECT * FROM student WHERE name = 'Đặng Thị Ngọc Lan'")
print(results)

<sqlite3.Cursor object at 0x0000028A359806C0>

In [ ]:
for row in results :
    print(row)

(1, 'Đặng Thị Ngọc Lan')

In [ ]:
# Gọi đối tượng bằng id
results = db.execute("SELECT * FROM student WHERE id = 3")
print(results)
for row in results :
    print(row)

<sqlite3.Cursor object at 0x0000028A35980730>
(3, 'Nguyễn Du')

In [ ]:
# Gọi đối tượng bằng lệnh ORDER BY id DESC / ASC (GIẢM DẦN / TĂNG DẦN )
results = db.execute("SELECT * FROM student ORDER BY id DESC")
print(results)
for row in results :
    print(row)

results = db.execute("SELECT * FROM student ORDER BY id ASC")
print(results)
for row in results :
    print(row)

<sqlite3.Cursor object at 0x0000028A35980880>
(5, 'Pleiku')
(4, 'Lê Quý Đôn')
(3, 'Nguyễn Du')
(2, 'Cao Bá Quát')
(1, 'Đặng Thị Ngọc Lan')
<sqlite3.Cursor object at 0x0000028A35980B20>
(1, 'Đặng Thị Ngọc Lan')
(2, 'Cao Bá Quát')
(3, 'Nguyễn Du')
(4, 'Lê Quý Đôn')
(5, 'Pleiku')

In [18]:
db.execute("DELETE FROM student WHERE id = 4 ")
results = db.execute("SELECT * FROM student ORDER BY id ASC")
print(results)
for row in results :
    print(row)

OperationalError: database is locked